<header class="w-full fixed top-0 left-0 z-50 bg-white shadow-md">
  <div class="container mx-auto flex justify-between items-center p-5">
    <!-- Logo -->
    <a href="#" class="">
      <img src="assets/images/logos/hisnapqr-logo-with-text.webp" width="140px" alt="Logo do Hi SnapQR">
    </a>

    <!-- Menu Desktop -->
    <nav class="hidden md:flex space-x-6">
      <a href="#home" class="text-gray-600 hover:text-blue-600">Início</a>
      <a href="#features" class="text-gray-600 hover:text-blue-600">Serviços</a>
      <a href="#pricing" class="text-gray-600 hover:text-blue-600">Preços</a>
      <a href="#faq" class="text-gray-600 hover:text-blue-600">Dúvidas</a>
      <a href="#contact" class="text-gray-600 hover:text-blue-600" (click)="setAction('Contato - Menu Desktop')">Contato</a>
    </nav>

    <!-- Botão CTA Desktop -->
    <a href="#promotion"
      class="hidden md:block bg-fuchsia-600 hover:bg-fuchsia-800 text-white px-5 py-2 rounded-lg transition">
      🎁 Promoção
    </a>

    <!-- Ícone do Presente + Menu Mobile -->
    <div class="flex items-center space-x-3 md:hidden">
      <!-- Ícone do Presente -->
      <a href="#promotion" class="text-red-600 text-lg animate-bounce">🎁</a>

      <!-- Botão do Menu Mobile -->
      <button class="text-blue-600 focus:outline-none" (click)="toggleMenu()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="isMenuOpen" class="md:hidden bg-white shadow-lg p-5">
    <a href="#home" (click)="closeMenu()" class="block py-2 text-gray-600 hover:text-blue-600">Início</a>
    <a href="#features" (click)="closeMenu()" class="block py-2 text-gray-600 hover:text-blue-600">Serviços</a>
    <a href="#pricing" (click)="closeMenu()" class="block py-2 text-gray-600 hover:text-blue-600">Preços</a>
    <a href="#faq" (click)="closeMenu()" class="block py-2 text-gray-600 hover:text-blue-600">Dúvidas</a>
    <a href="#contact" (click)="closeMenu('Contato - Menu Mobile')"
      class="block py-2 text-gray-600 hover:text-blue-600">Contato</a>
  </div>
</header>
