<section id="home" class="relative h-screen flex items-center justify-center bg-gradient-to-r from-primary to-secondary text-white px-6 sm:pt-32">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-2 md:gap-x-4 lg:gap-x-6 items-center px-4 lg:px-12">

        <!-- Texto à esquerda (Mantendo ajustes para desktop e corrigindo mobile) -->
        <div class="text-left mx-auto md:mx-0 max-w-full md:max-w-2xl lg:max-w-3xl mt-16">
            <h1 class="text-2xl sm:text-3xl md:text-3xl   xl font-bold leading-tight mb-4 sm:mb-6 md:mb-8">
                <span class="text-gray-200">QR Codes Inteligentes</span>
            </h1>
            <p class="text-sm sm:text-base md:text-lg text-gray-200">
                A inteligência artificial que gera QR Codes <b class="text-yellow-400">inteligentes, rastreáveis e otimizados</b> para maximizar seu faturamento.
            </p>
            <p class="text-sm sm:text-base md:text-lg text-gray-200">
                Converta mais clientes, acompanhe cada interação e personalize experiências <b class="text-yellow-400">em tempo real</b>. Tudo isso com tecnologia de IA aplicada ao seu negócio.
            </p>
            <a href="#contact" (click)="setAction('CTA Quer Saber mais?')" 
                class="mt-6 mb-6 md:mb-0 inline-block bg-blue-600 text-white font-bold border-2 border-white px-6 py-3 rounded-full shadow-md hover:bg-blue-800 transition">
                Quer saber mais?
            </a>
        </div>

        <!-- Imagem do celular com QR Code (Melhorando espaçamento no mobile) -->
        <div class="relative flex justify-center mt-2">
            <img src="assets/images/banners/logo.webp" class="w-48 sm:w-56 md:w-72 lg:w-[600px] max-w-full mx-auto drop-shadow-lg" alt="Logo principal do Hi SnapQR">
        </div>

    </div>
</section>
